/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}



body {
    background-color: #eee;
}

button{
    border-radius: 4px !important;
}

.btn {
    font-size: 11.5px;
}

/*body {*/
    /*background: url("../img/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    /*font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;*/
    /*font-weight: 300;*/
    /*text-align: left;*/
    /*text-decoration: none;*/
/*}*/
/*body {*/
    /*color: #333;*/
    /*font: 12px/18px Arial,Tahoma,Verdana,sans-serif;*/
/*}*/
/** {*/
    /*border: 0 none;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/